body {
    background-image: url("./Datein/bg.png");
}


.menu {
    width: auto;
    border-style: solid;
    margin: 1em;
    padding: 0.9em;
    position: fixed;
    right: 1em;
    top: 1em; 
}
.menu h4 {
    display: none;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
    padding: 10px;
}
a:hover, a:active {
    text-decoration: none;
    color:brown;
}
#aktiveseite {
    font-size: 1.3em;
    color: brown;
}
#logo {
    display: block;
    margin: auto;
}



main {
    width: 800px;
    margin: auto;
}
.icons {
    height: 2em;
    background-image: url(./Datein/instagram.png);
    background-repeat: no-repeat;
}
.icons a {
    opacity: 0%;
}
.icons a:hover {
    opacity: 100%;
    color: black;
}
.icons:hover {
    transform: rotate(20deg);
}

div {
    width: 800px;
    margin: auto;
}
div.eingerahmt {
    width: 770px;
    padding: 10px;
    border: 0.3em solid black;
    margin: none;  
}


.galerie {
    padding: 15px 12px;
    width: 30%;
    transition: width 2s, height 2s, ease, transform 2s;
}
.galerie:hover {
    width: 32%;
    height: auto;
    padding: 0;
}

#portrait {
    margin: 2.5em;
    padding: 0.8em;
    width: 35%;
    border-style: solid;
    border-color: cadetblue;
    float: left;
}

.eingabefeld {
    color: black;
    border-color: cadetblue;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 3em;
    border-style: solid;
}
#senfabgeben {
    width: 100%;
    color: black;
    border-color: cadetblue;
    font-size: 1em;
    padding-block-end: 10em;
    border-style: solid;
}
#button {
    margin-top: 2em;
    margin-right: 0.5em;
    margin-bottom: 5em;
    float: right;
    font-size: 1.2em;
    width: 8em;
    height: 2.5em;
    background-color: cadetblue;
    border: solid;
}
#kurzform {
    margin-top: 2.5em;
}
p {
    font-family:sans-serif; 
    font-size:1em;
    letter-spacing: 0.08em;
}
h2 {
    font-family:sans-serif;
    font-size:1.7em;
    text-align: center;
    letter-spacing: 0.25em;    
}
h3 {
    font-family:sans-serif;
    font-size:1.2em;
    text-align: center;
    letter-spacing: 0.15em;
    display: inline;
}
h4 {
    font-family: sans-serif;
    font-size: 1em;
    text-align: left;
    display: inline;
}


footer {
    width: 800px;
    margin: auto;
}
details {
    width:fit-content;
    margin-top: 1em;
    margin-left: 0.5em;
}

@media screen and (max-width: 1700px) {
    .menu {
        background-color: #c5c4bf93;
        }
}
@media screen and (max-width: 1024px) {
    div.eingerahmt {
        width: 90%;
    }
    .menu {
        position: fixed;
        display: inline-block;
        padding: 0.1em 1.3em;
    }
    .menu_dropdown {
        display: none;
        position: relative;
        width: 170px;
        padding: 20px 15px;
      }  
    .menu:hover .menu_dropdown{
        display: block;
    }  
    .menu h4 {
        display: block;
    }
    .menu:hover h4 {
        display: none;
    }

}
@media screen and (max-width: 800px) {
    main {
        width: auto;
    }
    #logo {
        padding-right: 5em;
        width: 70%;
    }
    .galerie {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        transition: none;
    }
    .galerie:hover {
        width: 37%;
    }
    #galerie {
        margin: auto;
    }

}


@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    div {
        width: 100%;
    }
    div.eingerahmt {
        width: fit-content;
    }
    .galerie {
        width: 100%;
        padding: 0%;
        margin-top: 2em;
    }
    .galerie:hover {
        width: 100%;
        padding: 0%;
    }

}
