body {
    margin-left: 25%;
}
.bilder {
    padding-top: 5%;
    padding-bottom: 2%;
}
#anzeige {
    border-style: solid;
    width: 500px;
    height: 300px;
    margin-top: 5%;
    float: left;
}
.anzeige {
    width: 250px;
    height: 150px;
   
}